In [1]:
import pandas as pd

In [2]:
items = [
    {'bikes': 20, 'pants': 30, 'watches': 35},
    {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants': 5}
]

store_items = pd.DataFrame(items, index=['store 1', 'store 2'])
store_items

         bikes  pants  watches  glasses
store 1     20     30       35      NaN
store 2     15      5       10     50.0

In [3]:
store_items[['bikes']]

         bikes
store 1     20
store 2     15

In [4]:
store_items[['bikes', 'pants']]

         bikes  pants
store 1     20     30
store 2     15      5

In [5]:
store_items.loc[['store 1']]

         bikes  pants  watches  glasses
store 1     20     30       35      NaN

In [6]:
store_items['bikes']['store 2']

np.int64(15)

In [8]:
store_items['store 2']['bikes']

KeyError: 'store 2'

In [9]:
store_items['shirts'] = [15, 2]
store_items

         bikes  pants  watches  glasses  shirts
store 1     20     30       35      NaN      15
store 2     15      5       10     50.0       2

In [10]:
store_items['suits'] = store_items['shirts'] + store_items['pants']
store_items

         bikes  pants  watches  glasses  shirts  suits
store 1     20     30       35      NaN      15     45
store 2     15      5       10     50.0       2      7

In [11]:
new_items = [{'bikes': 20, 'pants': 30, 'watches': 35, 'glasses': 4}]

new_store = pd.DataFrame(new_items, index = ['store 3'])
new_store

         bikes  pants  watches  glasses
store 3     20     30       35        4

In [12]:
store_items = pd.concat([store_items, new_store])
store_items

         bikes  pants  watches  glasses  shirts  suits
store 1     20     30       35      NaN    15.0   45.0
store 2     15      5       10     50.0     2.0    7.0
store 3     20     30       35      4.0     NaN    NaN

In [13]:
store_items['new_watches'] = store_items['watches'][1:]
store_items

         bikes  pants  watches  glasses  shirts  suits  new_watches
store 1     20     30       35      NaN    15.0   45.0          NaN
store 2     15      5       10     50.0     2.0    7.0         10.0
store 3     20     30       35      4.0     NaN    NaN         35.0

In [14]:
store_items.insert(5, 'shoes', [8, 5, 0])
store_items

         bikes  pants  watches  glasses  shirts  shoes  suits  new_watches
store 1     20     30       35      NaN    15.0      8   45.0          NaN
store 2     15      5       10     50.0     2.0      5    7.0         10.0
store 3     20     30       35      4.0     NaN      0    NaN         35.0

In [15]:
store_items.pop('new_watches')
store_items

         bikes  pants  watches  glasses  shirts  shoes  suits
store 1     20     30       35      NaN    15.0      8   45.0
store 2     15      5       10     50.0     2.0      5    7.0
store 3     20     30       35      4.0     NaN      0    NaN

In [16]:
store_items = store_items.drop(['watches', 'shoes'], axis=1)
store_items

         bikes  pants  glasses  shirts  suits
store 1     20     30      NaN    15.0   45.0
store 2     15      5     50.0     2.0    7.0
store 3     20     30      4.0     NaN    NaN

In [17]:
store_items = store_items.drop(['store 1', 'store 2'], axis=0)
store_items

         bikes  pants  glasses  shirts  suits
store 3     20     30      4.0     NaN    NaN

In [18]:
store_items = store_items.rename(columns={'bikes': 'hats'})
store_items

         hats  pants  glasses  shirts  suits
store 3    20     30      4.0     NaN    NaN

In [23]:
store_items = store_items.rename(index={'store 3': 'last store'})
store_items

            hats  pants  glasses  shirts  suits
last store    20     30      4.0     NaN    NaN

In [24]:
store_items = store_items.set_index('pants')
store_items

       hats  glasses  shirts  suits
pants
30       20      4.0     NaN    NaN