In [1]:
import pandas as pd

In [3]:
# Dictionary containing two shopping carts
items = {
    'Alice': pd.Series([40, 110, 500, 45], index=['book', 'glasses', 'bike', 'pants']),
    'Bob': pd.Series([245, 25, 55], index=['bike', 'pants', 'watch'])
}

print(items)
type(items)

{'Alice': book        40
glasses    110
bike       500
pants       45
dtype: int64, 'Bob': bike     245
pants     25
watch     55
dtype: int64}

dict

In [4]:
shopping_carts = pd.DataFrame(items)
shopping_carts

         Alice    Bob
bike     500.0  245.0
book      40.0    NaN
glasses  110.0    NaN
pants     45.0   25.0
watch      NaN   55.0

In [5]:
# Without providing indexes for row labels
data = {
    'Alice': pd.Series([40, 110, 500, 45]),
    'Bob': pd.Series([245, 25, 55])
}

df = pd.DataFrame(data)
df

   Alice    Bob
0     40  245.0
1    110   25.0
2    500   55.0
3     45    NaN

In [6]:
shopping_carts.index

Index(['bike', 'book', 'glasses', 'pants', 'watch'], dtype='object')

In [7]:
shopping_carts.columns

Index(['Alice', 'Bob'], dtype='object')

In [8]:
shopping_carts.values

array([[500., 245.],
       [ 40.,  nan],
       [110.,  nan],
       [ 45.,  25.],
       [ nan,  55.]])

In [9]:
shopping_carts.shape

(5, 2)

In [10]:
shopping_carts.ndim

2

In [11]:
shopping_carts.size

10

In [12]:
bob_shopping_cart = pd.DataFrame(items, columns=['Bob'])
bob_shopping_cart

       Bob
bike   245
pants   25
watch   55

In [14]:
sel_shopping_cart = pd.DataFrame(items, index=['pants', 'book'])
sel_shopping_cart

       Alice   Bob
pants     45  25.0
book      40   NaN

In [15]:
alice_sel_shopping_cart = pd.DataFrame(items, columns=['Alice'], index = ['glasses', 'bike'])
alice_sel_shopping_cart

         Alice
glasses    110
bike       500

In [16]:
data = {
    'Floats': [4.5, 8.2, 9.6],
    'Integers': [1, 2, 3]
}

df = pd.DataFrame(data)
df

   Floats  Integers
0     4.5         1
1     8.2         2
2     9.6         3

In [17]:
df.ndim

2

In [18]:
data = {
    'Floats': [4.5, 8.2, 9.6],
    'Integers': [1, 2, 3]
}

df = pd.DataFrame(data, index=['label 1', 'label 2', 'label 3'])
df

         Floats  Integers
label 1     4.5         1
label 2     8.2         2
label 3     9.6         3

In [19]:
items = [
    {'bikes': 20, 'pants': 30, 'watches': 35},
    {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants': 5}
]

store_items = pd.DataFrame(items)
store_items

   bikes  pants  watches  glasses
0     20     30       35      NaN
1     15      5       10     50.0

In [20]:
items = [
    {'bikes': 20, 'pants': 30, 'watches': 35},
    {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants': 5}
]

store_items = pd.DataFrame(items, index = ['store 1', 'store 2'])
store_items

         bikes  pants  watches  glasses
store 1     20     30       35      NaN
store 2     15      5       10     50.0